.about-container {
  width: 80vw;
  height: 80vh;
  background-color: white;
  box-shadow: 0px 0px 30px 0px #DEF8D6;
  margin-left: 15%;
  margin-top: 7%;
}

.about-title {
  text-align: end;
  padding-top: 1rem;
  margin-right: 5rem;
}
.wrapper-container {
  width: 100%;
  height: 75%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  width: 70%;
  height: 100%;
  margin-left: 15px;
}
.title {
  font-size: 2rem;
  margin: 3rem 0 0 3rem;
}
.description {
  margin: 4rem 3rem 6rem;
}
button {
  width: 25%;
  height: 9%;
  border-radius: 5px;
  border: none;
  background-color: #85AA7B;
  color: black;
  float: right;
  margin-right: 3rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.image-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 50%;
}
.icons-container {
  width: 70vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
}
.hobby-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    div.about-container{
    margin:2.5rem;
    }
  div.text-container{
    width:100%;
  }
  div.image-container {
    width:0%;
  }
 .hobby-icon {
    width: 1rem;
    height: 1.5rem;
    margin-bottom: 0;
  }
  button.download {
    float: none;
    min-width: 90%;
  }
  img {
    display: none;
  }
  .about-title {
    text-align: center;
    margin-right:0;
  }
  p.description {
    margin: 2rem auto 1rem;
  }
  p.title {
    margin: 20px auto;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 900px) {
  button.download {
    width: 70%;
    float: none;
    margin: 15px 7px;
  }
  img {
    width: 100%;
    height: 30%;
  }
  h1 {
    text-align: center;
  }
  .description {
    margin: 4rem auto 1rem;
  }
  .about-container{
      margin-top: 4rem;
      margin-left: 7.5rem;
  }
}
