.skills-container{
    width: 80vw;
    height: 80vh;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #037F0A;
    margin-left:15%;
    margin-top:6%;
   
}
.technologies-container {
    width:80%;
    height:45%;
    margin:2rem 0 0 2rem;
}
.tech-icons-container{
    width:30%;
    height: 80%;
    text-align: center;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 5px;
    margin-left:3rem;

}
.tech-icons{
    color:rgb(168, 167, 167);
    font-size: 3rem;
}
.name-of-icons{
    font-size: 0.8rem;
    
}
.tech-title, .soft-title{
    color:#037F0A;
    margin:0;
}
.soft-skills-container{
    width:65%;
    height:45%;
    margin: 0 0 2rem 2rem;
    
}
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:2rem;
}
.button-type-skill{
    background-color:white;
    box-shadow: 0px 0px 5px 0px #037F0A;
    border-radius:5px;
    color: black;
    width: 80%;
    min-height: 2rem;
    font-size: 0.8rem;
    text-align: center;
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:600px){
    div.skills-container{
        margin-top: 2rem;
        margin-left: 3.2rem;
    }
    div.skills{
        margin-left:0;
        margin-top: 0.5rem;
    }
    .button-type-skill{
        width:100%;
        min-height:2rem;
        margin:1rem 0;
        font-size: 0.7rem;
    }
    .tech-icons{
        font-size: 2rem;
    }
    .name-of-icons{
        font-size: 0.6rem;
        
    }
    div.tech-icons-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left:0;
    
    }
}
@media only screen and (max-width:900px){
    .skills-container{
        margin-top: 4rem;
        margin-left: 7.5rem;
    }
    .button-type-skill{
        width:70%;
    }
    .skills{
        margin-left: 1rem;
    }
    .soft-skills-container{
        width:90%;
    }
    .tech-icons-container{
        margin-left:1rem;
    }
}