body {
  color:black;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}
body::-webkit-scrollbar {
  background: green;
}

body::-webkit-scrollbar-track {
background:#eeeeee;
}