body {
  color:black;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;

}
body::-webkit-scrollbar {
  background: #1e1e24;
}

body::-webkit-scrollbar-track {
background:#037F0A;
}